@model Person

<div class="row">
    <div class="col-4"><strong>First name:</strong></div>
    <div class="col-8">@Model.FirstName</div>
</div>
<div class="row">
    <div class="col-4"><strong>Last name:</strong></div>
    <div class="col-8">@Model.LastName</div>
</div>
<div class="row">
    <div class="col-4"><strong>Email:</strong></div>
    <div class="col-8">@Model.Email</div>
</div>
<div class="row">
    <div class="col-4"><strong>Description:</strong></div>
    <div class="col-8">@Model.Description</div>
</div>